<template>
  <div class="bg-white text-black-text flex flex-col min-h-screen">
    <!-- Added :key="$route.fullPath" to force nav redraw on page change -->
    <!-- so it'll close when I change page on mobile -->
    <LayoutNavigationBar :key="$route.fullPath" />
    <Nuxt />
    <!-- will fill empty space -->
    <div class="flex-1" />
    <LayoutFooter />
  </div>
</template>

<style>
:root {
  background-color: #fff;
}
</style>
