@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@font-face {
    font-family: 'Londrina Solid';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url('~assets/fonts/Londrina_Solid/LondrinaSolid-Thin.ttf') format('truetype');
  }

@font-face {
    font-family: 'Londrina Solid';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('~assets/fonts/Londrina_Solid/LondrinaSolid-Light.ttf') format('truetype');
  }

@font-face {
    font-family: 'Londrina Solid';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('~assets/fonts/Londrina_Solid/LondrinaSolid-Regular.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Londrina Solid';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url('~assets/fonts/Londrina_Solid/LondrinaSolid-Black.ttf') format('truetype');
  }

  @font-face {
    font-family: 'PT Root UI';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('~assets/fonts/PT_Root_UI/PT-Root-UI_Regular.ttf') format('truetype');
  }

  @font-face {
    font-family: 'PT Root UI';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('~assets/fonts/PT_Root_UI/PT-Root-UI_Medium.ttf') format('truetype');
  }

  @font-face {
    font-family: 'PT Root UI';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('~assets/fonts/PT_Root_UI/PT-Root-UI_Bold.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Noun Named';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('~assets/fonts/Noun_Named/NounNamed-Regular.otf') format('opentype');
  }
