<template>
  <div
    class="
      bottom-0
      left-0
      right-0
      flex flex-col-reverse
      sm:flex-row
      items-center
      justify-between
      h-16
      mt-36
      bg-transparent
      text-black
      font-display
      text-lg
      px-8
    "
  >
    <!-- @click="saEvent(`to_twitter_from_footer`)" -->
    <p class="pb-4 sm:pb-0">
      made with ❤ by
      <a
        href="https://twitter.com/nikitago_"
        target="_blank"
        class="font-black tracking-wide text-branding-purple"
        >ng</a
      >
    </p>
    <div class="space-x-4">
      <a href="https://twitter.com/NounsNeedNames" target="_blank">twitter</a>
      <a href="https://nouns.wtf" target="_blank">nouns website</a>
    </div>
    <p class="hidden sm:block invisible">made with ❤ by ng</p>
  </div>
</template>