<template>
  <div
    id="root"
    class="
      sticky
      top-0
      inset-x-0
      text-lg
      font-extralight
      bg-warm
      backdrop-filter backdrop-blur-sm
      bg-opacity-30
      z-50
      h-16
    "
  >
    <!-- -------------------------- BIG SCREEN NAVIGATION BAR --------------------------- -->
    <div class="hidden md:flex flex-row justify-between items-baseline">
      <NuxtLink
        to="/"
        class="text-5xl text-branding-purple font-noun pl-10 pt-2"
        >nnn</NuxtLink
      >
      <div class="pr-10 space-x-10">
        <!-- <NuxtLink to="/">ABOUT</NuxtLink>
        <NuxtLink to="/drop">THE DROP</NuxtLink>
        <NuxtLink to="/arena">THE ARENA</NuxtLink>
        <NuxtLink to="/leaderboard">RANKS</NuxtLink> -->
        <!-- <a href="https://nouns.wtf" target="_blank" class="inline"
          >ORIGIN<span class="pl-px">↗</span></a
        > -->
        <a
          href="https://twitter.com/NounsNeedNames"
          target="_blank"
          class="inline"
          >TWITTER<span class="pl-px">↗</span></a
        >
      </div>
    </div>
    <!-- -------------------------- SMALL SCREEN NAVIGATION BAR --------------------------- -->
    <div class="flex md:hidden flex-col">
      <div class="flex flex-row justify-between">
        <NuxtLink
          to="/"
          class="text-5xl text-branding-purple font-noun pl-10 pt-4"
          >nnn</NuxtLink
        >
        <div
          class="pt-6 pr-10 pb-4 space-x-10"
          @click="revealNav = !revealNav"
          v-if="!revealNav"
        >
          <img src="/vector/burger.svg" class="h-5 fill-black" />
        </div>
        <div
          class="pt-6 pr-10 pb-4 space-x-10"
          @click="revealNav = !revealNav"
          v-else
        >
          <img src="/vector/close.svg" class="h-5" />
        </div>
      </div>
      <div
        class="pt-6 pr-10 pb-4 pl-10 space-y-5 flex flex-col items-start"
        v-if="revealNav"
      >
        <!-- <NuxtLink to="/">ABOUT</NuxtLink>
        <NuxtLink to="/drop">THE DROP</NuxtLink>
        <NuxtLink to="/arena">THE ARENA</NuxtLink>
        <NuxtLink to="/leaderboard">RANKS</NuxtLink> -->
        <!-- <a href="https://nouns.wtf" target="_blank" class="inline"
          >ORIGIN<span class="pl-px">↗</span></a
        > -->
        <a
          href="https://twitter.com/NounsNeedNames"
          target="_blank"
          class="inline"
          >TWITTER<span class="pl-px">↗</span></a
        >
      </div>
    </div>
    <!-- ---------------------------------------------------------------- -->
  </div>
</template>

<script>
export default {
  data() {
    return {
      revealNav: false,
    };
  },
  computed: {
    pfpPreview() {
      return this.$store.state.pfpPreview;
    },
  },
  watch: {
    pfpPreview(newValue, oldValue) {
      if (newValue) {
        document
          .getElementById("root")
          .classList.replace("bg-warm", "bg-white");
      } else {
        document
          .getElementById("root")
          .classList.replace("bg-white", "bg-warm");
      }
    },
  },
};
</script>