<template>
  <div class="flex flex-row text-xl">
    <p class="mr-1">On</p>
    <p class="font-normal">{{ date }}</p>
  </div>
</template>

<script>
export default {
  name: "BirthDate",
  props: {
    timestamp: String,
  },
  data: () => ({}),
  computed: {
    date() {
      return this.timeConverter(this.timestamp);
    },
  },
  methods: {
    timeConverter(timestamp) {
      const a = new Date(timestamp * 1000);
      const months = [
        "January",
        "February",
        "March",
        "April",
        "May",
        "June",
        "July",
        "August",
        "September",
        "October",
        "November",
        "December",
      ];
      const year = a.getFullYear();
      const month = months[a.getMonth()];
      const date = a.getDate();
      const time = date + " " + month + " " + year;
      return time;
    },
  },
};
</script>