<template>
  <div class="flex flex-row text-xl">
    <p class="mr-1">Held by</p>
    <div v-if="$fetchState.pending || $fetchState.error" class="flex flex-row">
      <a
        :href="link"
        target="_blank"
        class="tracking-tight font-normal text-branding-purple"
        >{{ displayAddress }}</a
      >
      <p class="pl-px text-grey-dark">↗</p>
    </div>
    <div v-else class="flex flex-row">
      <a
        :href="link"
        target="_blank"
        class="tracking-tight font-normal text-branding-purple"
        >{{ address }}</a
      >
      <p class="pl-px text-grey-dark">↗</p>
    </div>
  </div>
</template>

<script>
import { ethers } from "ethers";

const API_URL = process.env.API_URL;

export default {
  name: "Owner",
  props: {
    ownerAddress: String,
  },
  data: () => ({
    /*
     * May contains shorted eth address or ENS address
     */
    address: "",
  }),
  computed: {
    link() {
      return `https://etherscan.io/address/${this.ownerAddress}`;
    },
    /*
     * Contains shorted eth address.
     */
    displayAddress() {
      const firstSlice = this.ownerAddress.slice(0, 4);
      const lastSlice = this.ownerAddress.slice(
        this.ownerAddress.length - 5,
        this.ownerAddress.length - 1
      );
      return firstSlice + "..." + lastSlice;
    },
  },
  async fetch() {
    const provider = new ethers.providers.JsonRpcProvider(API_URL);

    const address = await provider.lookupAddress(this.ownerAddress);

    if (address != null) {
      this.address = address;
    } else {
      const firstSlice = this.ownerAddress.slice(0, 4);
      const lastSlice = this.ownerAddress.slice(
        this.ownerAddress.length - 5,
        this.ownerAddress.length - 1
      );

      this.address = firstSlice + "..." + lastSlice;
    }
  },
  fetchOnServer: false,
};
</script>