<template>
  <div>
    <img class="rounded-full" src="/img/8.png" alt="" />
  </div>
</template>

<script>
export default {
  name: "NounRendered",
  props: [],
  data() {
    return {};
  },
};
</script>