<template>
  <div>
    <div
      class="flex flex-row justify-between cursor-pointer"
      @click="show = !show"
    >
      <p class="mb-6 text-4xl font-display font-medium">
        {{ title }}
      </p>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        v-if="!show"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="1.5"
          d="M19 9l-7 7-7-7"
        />
      </svg>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        v-if="show"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="1.5"
          d="M5 15l7-7 7 7"
        />
      </svg>
    </div>
    <p class="mb-6 text-xl" v-if="show" v-html="description" />
  </div>
</template>

<script>
export default {
  name: "FaqItem",
  props: ["title", "description"],
  data() {
    return {
      show: false,
    };
  },
};
</script>