<template>
  <div class="max-w-4xl mx-auto mt-32 px-8 font-light text-xl">
    <p class="text-7xl font-display font-medium">WTF?</p>
    <p class="mt-20">
      Here every Noun gets his name. Why? Every Noun is born nameless. With an
      only identifying number. Yes, I think you saw it: "Noun 111". We believe
      they are better than just numbers. They are good. They deserve to have
      names. As you do, as I do.
    </p>
    <p class="mt-8">
      That's why we created a space where they get deserved — the name.
    </p>
    <div class="mt-8 sm:mt-8">
      <div class="mt-8 sm:mt-10 ml-0">
        <FaqItem
          v-for="item in faq"
          v-bind:key="item.id"
          v-bind:title="item.title"
          v-bind:description="item.description"
        />
      </div>
    </div>
  </div>
</template>

<script>
import faqData from "/assets/data/faq.json";

export default {
  name: "InfoContent",
  props: [],
  data() {
    return {
      faq: faqData,
    };
  },
};
</script>