<template>
  <div class="">
    <div
      id="nounPreview"
      class="transition-colors px-8 -mt-16 font-light text-xl"
    >
      <div
        class="pt-20 flex flex-col lg:flex-row max-w-7xl mx-auto pb-20 lg:pb-10"
      >
        <!-- -------------------------- NOUN --------------------------- -->
        <div
          id="noun_container"
          class="
            w-full
            md:w-9/12
            lg:w-1/2
            mx-auto
            lg:mx-0
            flex flex-col
            text-center
          "
        ></div>
        <!-- -------------------------- NOUN NAVIGATION & DATA --------------------------- -->
        <div class="mt-2 sm:mt-8 lg:mt-36 ml-0 sm:ml-12 flex flex-col grow">
          <div
            class="
              mt-2
              flex flex-col
              sm:flex-row
              font-normal
              items-center
              sm:items-center
            "
          >
            <!-- <p v-if="noun.id < 100" class="w-64">Noun {{ noun.id }}</p> -->
            <p
              class="
                w-80
                text-5xl
                usm:text-6xl
                text-center
                sm:text-left
                tracking-tighter
              "
              v-if="noun.id == 0"
            >
              Born <span class="text-grey">{{ idSuffix }}</span>
            </p>
            <p
              class="
                w-80
                text-5xl
                usm:text-6xl
                text-center
                sm:text-left
                tracking-tighter
              "
              v-else
            >
              Born {{ noun.id }}<span class="text-grey">{{ idSuffix }}</span>
            </p>
            <div
              class="
                mt-6
                sm:mt-0
                ml-0
                sm:ml-8
                flex flex-row
                mb-2
                text-4xl
                space-x-10
                sm:space-x-3
              "
            >
              <NuxtLink
                :to="'/noun/' + previousId.id"
                class="cursor-pointer"
                v-if="previousId.enabled"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-8 w-8"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M10 19l-7-7m0 0l7-7m-7 7h18"
                  /></svg
              ></NuxtLink>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-8 w-8 opacity-20"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                v-else
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M10 19l-7-7m0 0l7-7m-7 7h18"
                />
              </svg>
              <NuxtLink
                :to="'/noun/' + nextId.id"
                class="cursor-pointer"
                v-if="nextId.enabled"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-8 w-8"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M14 5l7 7m0 0l-7 7m7-7H3"
                  /></svg
              ></NuxtLink>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-8 w-8 opacity-20"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                v-else
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M14 5l7 7m0 0l-7 7m7-7H3"
                />
              </svg>
            </div>
          </div>
          <div class="flex flex-col sm:flex-row mt-8">
            <div
              class="
                grow
                max-w-full
                sm:max-w-[18rem]
                mt-0
                text-center text-white
                font-thin
                bg-black bg-opacity-100
                backdrop-filter
                rounded-lg
                py-2
                px-8
                cursor-pointer
              "
              @click="downloadPfp()"
            >
              Download PFP
            </div>
            <div
              id="pfpPreview"
              class="
                mt-2
                sm:mt-0
                ml-0
                sm:ml-4
                text-center text-grey-dark
                bg-white bg-opacity-30
                backdrop-filter
                rounded-lg
                py-1
                sm:py-2
                px-8
                cursor-pointer
              "
              @click="togglePfpPreview()"
            >
              Preview PFP
            </div>
          </div>
          <div
            v-if="noun.name == 'WIP'"
            class="
              mt-8
              bg-red bg-opacity-10
              text-red text-opacity-85
              font-extralight
              rounded-lg
              py-2
              px-8
              max-w-full
              sm:max-w-[30.3rem]
              text-center
            "
          >
            This Noun are still without a name :(((<br />Check on him later.
          </div>
          <div class="mt-8 flex flex-col">
            <NounBirthDate :timestamp="nounData.birthTimestamp" />
            <NounOwner :ownerAddress="nounData.ownerAddress" class="mt-2" />
            <a
              :href="'https://nouns.wtf/noun/' + noun.id"
              target="_blank"
              class="mt-6 cursor-pointer max-w-fit"
              ><div
                class="
                  bg-grey-dark bg-opacity-10
                  text-grey-dark text-opacity-100
                  font-extralight
                  text-lg
                  rounded-lg
                  py-1
                  px-4
                  text-center
                  tracking-tight
                "
              >
                Personal Page
              </div></a
            >
            <!-- <a
              href="https://nouns.wtf"
              target="_blank"
              class="mt-2 max-w-fit cursor-pointer"
              >Etherscan<span class="pl-px">↗</span></a
            > -->
          </div>
        </div>
      </div>
    </div>
    <InfoContent />
  </div>
</template>

<script>
import { mapMutations } from "vuex";
import { createCanvas } from "canvas";
import { colorForTheName } from "/utils/colors";

var pageTitle = "Nouns Need Names";
var pageDescription = "Place where newborn Nouns get their name.";
var shareImageUrl = "https://nounsneednames.wtf/img/index_share_image.png";

export default {
  data() {
    return {};
  },
  computed: {
    pfpPreview() {
      return this.$store.state.pfpPreview;
    },
    noun() {
      let noun = this.$store.state.nouns[this.$route.params.id];

      const svg = noun.svg;
      var img = Buffer.from(svg, "base64").toString();
      img = img.replace('width="320"', "");
      img = img.replace('height="320"', "");
      noun.img = img;

      let colorFromAccessory = colorForTheName(noun.seedMap);

      if (colorFromAccessory != null) {
        noun.textColor = colorFromAccessory;
      } else {
        var textColor = img.slice(194, 201);
        noun.textColor = textColor;
      }

      return noun;
    },
    nextId() {
      const id = parseInt(this.$route.params.id);
      if (id == this.$store.state.nouns.length - 1) {
        return { enabled: false, id: id };
      }
      return { enabled: true, id: id + 1 };
    },
    previousId() {
      const id = parseInt(this.$route.params.id);
      if (id == 0) {
        return { enabled: false, id: id };
      }
      return { enabled: true, id: id - 1 };
    },
    idSuffix() {
      const id = this.$route.params.id;
      let suffix;

      if (id == "0") {
        suffix = "just";
      } else if (id == "11" || id == "12" || id == "13") {
        suffix = "th";
      } else if (id.slice(-1) == "1") {
        suffix = "st";
      } else if (id.slice(-1) == "2") {
        suffix = "nd";
      } else if (id.slice(-1) == "3") {
        suffix = "rd";
      } else {
        suffix = "th";
      }

      return suffix;
    },
  },
  mounted: function () {
    this.setColors();
    this.getDrawNoun();
  },
  async asyncData({ params, $axios }) {
    const id = params.id;

    const query = `query{
      noun(id: ${id}) {
        seed {
              background
              body
              accessory
              head
              glasses
          }
        owner {
              id
          }
      }
      auction(id: ${id % 10 === 0 ? parseInt(id) + 1 : id}) {
        startTime
        settled
      }
    }`;

    const axiosData = await $axios({
      url: "https://api.thegraph.com/subgraphs/name/nounsdao/nouns-subgraph",
      method: "post",
      headers: {
        "Content-Type": "application/json",
      },
      data: {
        query: query,
      },
    });

    const data = axiosData.data.data;

    const noun = {
      birthTimestamp: data.auction.startTime,
      seed: data.noun.seed,
      ownerAddress: data.noun.owner.id,
    };

    const nounData = noun;

    return { nounData };
  },
  methods: {
    ...mapMutations({
      toggle: "togglePfpPreview",
    }),
    togglePfpPreview() {
      this.$store.commit("togglePfpPreview");
    },
    setColors() {
      if (this.noun.seedMap.background == 0) {
        document.getElementById("nounPreview").classList.add("bg-cool");
      } else {
        document.getElementById("nounPreview").classList.add("bg-warm");
      }
    },
    getDrawNoun() {
      const noun = this.noun;

      const width = 1380;
      const height = 1380;

      // const canvas = createCanvas(width, height, "svg");
      const canvas = createCanvas(width, height);
      const context = canvas.getContext("2d");

      if (noun.seedMap.background == 0) {
        context.fillStyle = "#d5d7e1";
      } else {
        context.fillStyle = "#E1D7D5";
      }
      context.fillRect(0, 0, width, height);

      context.font = "300px Noun Named";
      context.textBaseline = "middle";
      context.fillStyle = noun.textColor;

      const text = noun.name;

      const textWidth = context.measureText(text).width;

      context.fillText(text, (width - textWidth) / 2, 1050);

      var image =
        '<img class="rounded-full" src="' + canvas.toDataURL() + '" />';
      document.getElementById("noun_container").innerHTML = image;

      let prepImg = Buffer.from(noun.svg, "base64").toString();
      prepImg = prepImg.replace('width="320"', 'width="960"');
      prepImg = prepImg.replace('height="320"', 'height="960"');

      const preppedImg = Buffer.from(prepImg).toString("base64");

      const img = new Image();
      img.src = `data:image/svg+xml;base64,${preppedImg}`;
      img.onload = () => {
        context.drawImage(img, 210, 30);

        var image =
          '<img id="pfpImage" class="rounded-full" src="' +
          canvas.toDataURL() +
          '" />';
        document.getElementById("noun_container").innerHTML = image;
      };
      img.onerror = (err) => {
        throw err;
      };
    },
    downloadPfp() {
      var link = document.createElement("a");
      link.href = document.getElementById("pfpImage").src;
      link.download = "noun " + this.noun.id + ".png";
      document.body.appendChild(link);
      link.click();
      document.body.removeChild(link);
    },
  },
  watch: {
    pfpPreview(newValue, oldValue) {
      if (newValue) {
        if (this.noun.seedMap.background == 0) {
          document
            .getElementById("nounPreview")
            .classList.replace("bg-cool", "bg-white");
        } else {
          document
            .getElementById("nounPreview")
            .classList.replace("bg-warm", "bg-white");
        }
        document.getElementById("pfpPreview").innerHTML = "Exit PFP Preview";
      } else {
        if (this.noun.seedMap.background == 0) {
          document
            .getElementById("nounPreview")
            .classList.replace("bg-white", "bg-cool");
        } else {
          document
            .getElementById("nounPreview")
            .classList.replace("bg-white", "bg-warm");
        }
        document.getElementById("pfpPreview").innerHTML = "Preview PFP";
      }
    },
  },
  head() {
    return {
      title: pageTitle,
      meta: [
        {
          hid: "description",
          name: "description",
          content: pageDescription,
        },
        // Data for Twitter card
        {
          name: "twitter:card",
          content: "summary_large_image",
        },
        {
          name: "twitter:creator",
          content: "@address2name",
        },
        {
          name: "twitter:title",
          content: pageTitle,
        },
        {
          name: "twitter:description",
          content: pageDescription,
        },
        {
          name: "twitter:image",
          content: shareImageUrl,
        },
        // Data for Facebook, LinkedIn cards and Pinterest pin
        {
          hid: `og:url`,
          property: "og:url",
          content: "https://nounsneednames.wtf/",
        },
        {
          hid: `og:type`,
          property: "og:type",
          content: "website",
        },
        {
          hid: `og:title`,
          property: "og:title",
          content: pageTitle,
        },
        {
          hid: `og:description`,
          property: "og:description",
          content: pageDescription,
        },
        {
          hid: `og:image`,
          property: "og:image",
          content: shareImageUrl,
        },
      ],
    };
  },
};
</script>
